.header {
    text-align: center;
    color: #E5E5E5;
}

.container {
    max-width: 1200px;
    width: 100%;
}

.section-page {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

.page {
    display: flex;
    justify-content: flex-end;

}

.page__button {
    background-color: rgba(82, 34, 208, 1);
    color: white;
    text-align: center;
    border-radius: 20px;
}

.main {
    display: flex;
    justify-content: space-around;
}

.main-content__text {
    font-family: Intro;
    font-style: normal;
    font-weight: normal;
    font-size: 60px;
    line-height: 120%;
}

.main-content__subtitle {

    font-family: Roboto Slab;
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 160%;
}

.main-content__button {
    background-color: rgba(82, 34, 208, 1);
    color: white;
    text-align: center;
    border-radius: 30px;
    padding: 15px;
    font-family: Intro;
    font-style: normal;
    font-weight: normal;
    font-size: 35px;
    line-height: 35px;
}



.footer__nav li {
    display: inline;
    color: rgba(82, 34, 208, 1);
    list-style-type: none;
    padding: 6px;
}

a:link {
    color: rgba(82, 34, 208, 1)
}

a:visited {
    color: rgb(174, 230, 243);
}

a {
    text-decoration: none;


}

a:hover {
    text-decoration: underline;
}